 p{
  font-size:26px;
  color: #000;
  text-shadow: 2px  2px 5px red,
              -2px  2px 5px red,
               2px -2px 5px red,
              -2px -2px 5px red;
}

body {
  background-color: #000;
}
